[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
torch = "*"
tqdm = "*"
torchvision = "*"
matplotlib = "*"
pylint = "*"
pudb = "*"
ipython = "*"
colored_traceback = "*"

[requires]
python_version = "3.7"
