[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorflow = "*"
tensorboard = "*"
pylint = "*"
pudb = "*"
ipython = "*"

[packages]
click = "*"
torch = "*"
tqdm = "*"
torchvision = "*"
matplotlib = "*"
colored_traceback = "*"
tensorboardX = "*"
cython = "*"
pycocotools = "*"
requests = "*"
imageio = "*"
imageio-ffmpeg = "*"
Pillow = "*"
sphinx_autodoc_typehints = "*"
sphinx = "*"
sphinx-click = "*"
travis-sphinx = "*"
sphinx_rtd_theme = "*"

[requires]
python_version = "3.7"
